<style>
  .jumbotron * {
    text-align: center;
  }

  .station {
    margin-top: 15px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    NYC Train Stations
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link active">
          Welcome, {{userData.user}}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/credits">
          Credits
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="./" id="logoutBtn">
          Log Out
        </a>
      </li>
      {{! <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> }}
    </ul>
  </div>
</nav>

<div class="container" style="margin-top: 25px;">
  <h1>{{data.name}}</h1>
  <div id="map" lat={{data.lat}} lon={{data.lon}} style="height:300px">
  </div>

  <h2>Arrivals in the next 2 hours: </h1>
  <div class="row">
      {{#each data.arrivals}}
      <div class="col">
        <ul>
          {{#each this}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      {{/each}}
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDHaaOsagdEfZ3HUm3ns1KbJuPCDWSVB1k"></script>
<script language="javascript" type="text/javascript">

    var map;
    var geocoder;
    function InitializeMap() {
        console.log();
        let lat = parseFloat($("#map").attr("lat"));
        let lon = parseFloat($("#map").attr("lon"));
        var latlng = new google.maps.LatLng(lat,lon);
        var myOptions =
        {
            zoom: 18,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);
    }
    window.onload = InitializeMap;

</script>
<script type="text/javascript">
  //.dropbtn dropdown button
  $('#logoutBtn').on('click', function () {
    document.cookie = 'user' + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    location.href = "/";
  })
</script>
